<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5p: %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.core">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.beans">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.context">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.web">
            <level value="info"/>
        </logger>
        <logger name="com.mapper">
            <level value="info"/>
        </logger>
        <logger name="org.mybatis.spring.SqlSessionUtils">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.jdbc">
            <level value="info"/>
        </logger>
        <logger name="org.springframework.web.servlet.DispatcherServlet">
            <level value="WARN"/>
        </logger>
        <logger name="org.springframework.web.servlet.view.InternalResourceView">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.web.servlet.view.JstlView">
            <level value="info"></level>
        </logger>
        <logger name="com.zaxxer.hikari.pool">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.data.elasticsearch">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.jndi">
            <level value="info"></level>
        </logger>
        <logger name="org.hibernate">
            <level value="info"></level>
        </logger>
        <logger name="org.springframework.boot.autoconfigure.logging">
            <level value="info"></level>
        </logger>
        <logger name="springfox.documentation">
            <level value="info"></level>
        </logger>
    </Loggers>
</Configuration>